:root {
	--default-color: #1a2429;
	--follower-color: yellow;
	--subscriber-color: purple;
	--cheer-color: red;
	--tip-color: green;
	--host-color: blue;
	--raid-color: orange;
}

* {
	padding: 0;
	margin: 0;
}

.background {
	width: 100%;
	height: 100%;
	background-color: var(--default-color);
	transition: background-color 0.5s ease-in-out;
}

.follower {
	background-color: var(--follower-color);
}

.subscriber {
	background-color: var(--subscriber-color);
}

.cheer {
	background-color: var(--cheer-color);
}

.tip {
	background-color: var(--tip-color);
}

.host {
	background-color: var(--host-color);
}

.raid {
	background-color: var(--raid-color);
}

/* FOR TESTING */
body {
	width: 100vw;
	height: 100vh;
}
