
:root {
	--font-size: {{fontSize}}px;
	--font-color: {{textColor}};
	--highlight-color: {{highlightColor}};
	--gap-size: {{gapSize}}px;
	--emblem-size: {{emblemSize}}%;
}

* {
	margin: 0px;
	padding: 0px;
	font-family: "Rubik", "Montserrat", sans-serif;
	color: var(--font-color);
	font-size: var(--font-size);
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
}

.vertical {
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.horizontal {
	align-items: center;
	justify-content: flex-start;
}

.vertical .emblem {
	max-width: var(--emblem-size);
	margin-bottom: var(--gap-size);
}

.horizontal .emblem {
	max-height: var(--emblem-size);
	margin: 0 var(--gap-size);
}

.horizontal .points {
	margin: 0 var(--gap-size);
}

.highlight {
	color: var(--highlight-color);
	transition: color 0.5s ease-in-out;
}
