<div class="layout">
	<div class="webcam"></div>

	<div class="display"></div>

	<div class="horizontal-segment">
		<div class="divider horizontal-divider horizontal-divider-1 hide"></div>
		<div class="divider horizontal-divider horizontal-divider-2 hide"></div>
		<div class="divider horizontal-divider horizontal-divider-3 hide"></div>
		<div class="divider horizontal-divider horizontal-divider-4 hide"></div>
	</div>

	<div class="vertical-segment">
		<div class="divider vertical-divider vertical-divider-1 hide"></div>
		<div class="divider vertical-divider vertical-divider-2 hide"></div>
		<div class="divider vertical-divider vertical-divider-3 hide"></div>
	</div>
</div>
