:root {
	--font-size: {{fontSize}}px;
	--font-color: {{fontColor}};
	--value-font-size: {{valueFontSize}}px;
	--highlight-color: {{valueFontColor}};
	--transition-time: {{transitionTime}}s;
	--icon-size: {{iconSize}}px;
	--gap-size: {{gapSize}}px;
}

* {
	margin: 0px;
	padding: 0px;
	font-family: "Rubik", "Montserrat", sans-serif;
	color: var(--font-color);
	font-size: var(--font-size);
}

.container {
	width: 100%;
	height: 100%;
	position: relative;
}

.event {
	position: absolute;
	display: flex;
}

.icon {
	width: var(--icon-size);
	height: var(--icon-size);
	background-color: var(--highlight-color);
	-webkit-mask-size: cover;
}

.amount {
	font-size: var(--value-font-size);
}

.highlight {
	color: var(--highlight-color);
	transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.hiding {
	opacity: 0;
}

.vertical {
	width: 100%;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	transition: left var(--transition-time) ease-in-out;
	flex-direction: column;
	align-items: center;
}

.vertical > .icon {
	margin-bottom: var(--gap-size);
}

.vertical.hiding {
	left: 100%;
}

.vertical.leaving {
	left: -100%;
}

.horizontal {
	top: 50%;
	transform: translateY(-50%);
	transition: top var(--transition-time) ease-in-out;
	align-items: center;
}

.horizontal > .icon,
.horizontal > .amount {
	margin: 0 var(--gap-size);
}

.horizontal.hiding {
	top: -50%;
}

.horizontal.leaving {
	top: 150%;
}
