:root {
	--border-width: 5px;
	--gap-size: 10px;

	--webcam-size: 25;
	--webcam-width: calc(1920px * var(--webcam-size) / 100);
	--webcam-height: calc(1080px * var(--webcam-size) / 100);
	--display-size: 90;
	--display-width: calc((100vh / 9 * 16) * var(--display-size) / 100);
	--display-height: calc(100vh * var(--display-size) / 100);

	--disposable-size: calc(100% - var(--gap-size) * 3 - var(--border-width) * 2);

	--vertical-divider-size: calc(1% * 70);
	--horizontal-divider-size: calc(1% * 60);

	--splits-height: 60px;
	--splits-width: 50%;
	--splits-offset: calc(0% / 2);

	--default-color: #008cb6;
	--follower-color: yellow;
	--subscriber-color: purple;
	--cheer-color: red;
	--tip-color: green;
	--host-color: blue;
	--raid-color: orange;
}

* {
	padding: 0;
	margin: 0;
	border-width: var(--border-width);
	transition: border-color 0.5s ease-in-out;
	border-color: var(--default-color);
	border-radius: var(--border-width);
}

.layout {
	position: relative;
	padding: var(--gap-size);
	width: 100%;
	height: 100%;
}

.webcam,
.display,
.horizontal-segment,
.vertical-segment {
	position: fixed;
	border-style: solid;
}

.webcam {
	width: calc(var(--webcam-width) - var(--border-width) * 2);
	height: calc(var(--webcam-height) - var(--border-width) * 2);
	z-index: 10;
}

.display {
	width: calc(var(--display-width) - var(--border-width) * 2);
	height: calc(var(--display-height) - var(--border-width) * 2);
}

.horizontal-segment {
	width: calc(var(--disposable-size) - var(--webcam-width));
	height: calc(var(--disposable-size) - var(--display-height));
}

.vertical-segment {
	width: calc(var(--disposable-size) - var(--display-width));
	height: calc(var(--disposable-size) - var(--webcam-height));
}

.topleft {
	top: var(--gap-size);
	left: var(--gap-size);
}
.topright {
	top: var(--gap-size);
	right: var(--gap-size);
}
.bottomleft {
	bottom: var(--gap-size);
	left: var(--gap-size);
}
.bottomright {
	bottom: var(--gap-size);
	right: var(--gap-size);
}

.divider {
	position: absolute;
	border-width: calc(var(--border-width) / 2);
	border-style: solid;
}

.vertical-divider {
	width: var(--vertical-divider-size);
	left: 50%;
	transform: translateX(-50%);
}

.horizontal-divider {
	display: inline-block;
	height: var(--horizontal-divider-size);
	top: 50%;
	transform: translateY(-50%);
}

.splits {
	width: calc(var(--splits-width));
	height: calc(100% - var(--splits-height));
	top: calc(var(--border-width) * -1 + var(--splits-height));
	left: calc(var(--border-width) * -1 + var(--splits-offset));
	display: flex;
	justify-content: space-evenly;
	border-width: var(--border-width);
}

.split-divider {
	height: calc(100% + var(--border-width));
	margin-top: calc(var(--border-width) * -1);
	display: inline-block;
	border-width: calc(var(--border-width) / 2);
	border-style: solid;
}

.follower * {
	border-color: var(--follower-color);
}

.subscriber * {
	border-color: var(--subscriber-color);
}

.cheer * {
	border-color: var(--cheer-color);
}

.tip * {
	border-color: var(--tip-color);
}

.host * {
	border-color: var(--host-color);
}

.raid * {
	border-color: var(--raid-color);
}

/* FOR TESTING */

body {
	width: 1920px;
	height: 1080px;
}
.webcam {
	background-color: lightgray;
}
