<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Layout</title>

		<link rel="stylesheet" href="index.css" />
	</head>
	<body>
		<div class="layout">
			<div class="webcam"></div>

			<div class="display"></div>

			<div class="horizontal-segment">
				<div class="divider splits hide"></div>
				<div class="divider horizontal-divider horizontal-divider-1 hide"></div>
				<div class="divider horizontal-divider horizontal-divider-2 hide"></div>
				<div class="divider horizontal-divider horizontal-divider-3 hide"></div>
				<div class="divider horizontal-divider horizontal-divider-4 hide"></div>
			</div>

			<div class="vertical-segment">
				<div class="divider vertical-divider vertical-divider-1 hide"></div>
				<div class="divider vertical-divider vertical-divider-2 hide"></div>
				<div class="divider vertical-divider vertical-divider-3 hide"></div>
			</div>
		</div>

		<script src="index.js"></script>
	</body>
</html>
