:root {
	--text-color: {{textColor}};
	--highlight-color: {{highlightColor}};
	--font-size: {{fontSize}}px;
	--icon-size: {{iconSize}}px;
	--icon-gap: {{iconGap}}px;
	--transition-time: {{transitionTime}}s;
}

* {
	margin: 0px;
	padding: 0px;
	font-family: "Rubik", "Montserrat", sans-serif;
	color: var(--text-color);
	line-height: 1;
	font-size: var(--font-size);
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.vertical {
	flex-direction: column;
	justify-content: center;
}

.horizontal {
	flex-direction: row;
	justify-content: flex-end;
}

.horizontal .com {
	margin-right: calc(var(--icon-size) + var(--icon-gap));
}

.highlight {
	color: var(--highlight-color);
	transition: color 0.5s ease-in-out;
}

.icon {
	width: var(--icon-size);
	height: var(--icon-size);
	display: block;
	position: absolute;
}

.hiding {
	opacity: 0;
}

.socials,
.icons {
	position: relative;
}

.social {
	position: absolute;
}

.vertical .socials,
.vertical .icons {
	width: 100%;
}

.vertical .socials {
	height: var(--font-size);
}

.vertical .icons {
	height: calc(var(--icon-size) + var(--icon-gap));
}

.vertical .social,
.vertical .icon {
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	transition: left var(--transition-time) ease-in-out;
	text-align: center;
}

.vertical .social {
	width: 100%;
}

.vertical .hiding {
	left: 150%;
}

.vertical .leaving {
	left: -50%;
}

.horizontal .socials,
.horizontal .icons {
	height: 100%;
}

.horizontal .icons {
	margin-right: var(--icon-gap);
	position: relative;
}

.horizontal .social,
.horizontal .icon {
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	transition: top var(--transition-time) ease-in-out;
}

.horizontal .hiding {
	top: -50%;
}

.horizontal .leaving {
	top: 150%;
}
